<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QUANLIKH.Properties.Settings.QLKhachHangConnectionString"
            connectionString="Data Source=HP-644F42B339FB;Initial Catalog=QLKhachHang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>